/* Variables
------------------------------------- */

/* Globals
------------------------------------- */

/* Bootstrap overwrites
------------------------------------- */

/* Header
------------------------------------- */

nav.navbar {
  padding-top: 12px;

  ul.nav {
    margin-top: 11px;
  }

  .navbar-brand {
    max-width: 150px;
  }
}

hr.header-divider {
  margin-top: 4px;
  margin-bottom: 16px;
}

/* Sidebar
------------------------------------- */

/* Footer
------------------------------------- */

.footer {
  padding: 10px;
  margin: 20px auto 10px auto;
  border-top: 2px dotted #ddd;

  p {
    padding: 5px 0;
    text-align: center;
  }
}

/* Content
------------------------------------- */


/* Utilities
------------------------------------- */
